@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    background: rgb(59, 13, 13);
}

td {
	border:  2px solid goldenrod;
	height:  100px;
	width:  100px;
	min-width: 100px;
	min-height: 100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
    border-radius: 10px;
}
td:hover {
    background: goldenrod;
}

table {
	min-width: 600px;
	min-height: 500px;
	margin: 50px auto;
	padding: center; /* added padding to center it more */
}

#scoreboard {
	
    font-family: 'Bungee Spice', sans-serif;
	text-align: center;
	font-size: 25px;
	padding: center;
	color:white;
}

button, #exgm, #exaim, #return {
    margin-top: 30px;
    font-family: 'Rubik Mono One', monospace;
    border-radius: 10px;
    border: none;
    background: linear-gradient(orange, orangered, red);
    color: white;
    cursor: pointer;
    height: 50px;
    width: 200px; 
}

button:hover, #exgm:hover, #exaim:hover, #return:hover {
    color: black;
}

.returndiv {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-size: 4em;
    font-family: 'Honk', sans-serif ;
}

.roundwin, .endgame {
    display: none;
    width: 700px;
    background-color: rgb(59, 13, 13);
    border: 3px solid goldenrod;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    border-radius: 20px;
    font-size: 3em;
    font-family: 'Bungee Spice', sans-serif;
}

.win-cell {
    background-color: goldenrod;
}

.startpage, .pickgamemode, .aimode  {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Bungee Spice', sans-serif;
    background-color: rgb(59, 13, 13);
}

.startpage .greet, .pickgamemode .choose, .aimode .ai__difficulty {
    font-size: 70px;
}

.startpage .game__title {
    font-size: 100px;
}

footer {
    margin: 0;
    display: flex;
    justify-content: center; /* Align children elements with space between them */
    align-items: center;
    /* border: 1px solid black; */
}

footer span {
    font-family: 'Bungee Spice', sans-serif;
    color: white;
    padding: 10px;
    margin: 10px;
}

#musicButton {
    height: 50px;
    width: 50px;
    margin-left: auto; /* Push the music button to the right */
}

nav {
    /* border: 1px solid black; */
}

